---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/destinationeventslider.css";
import 'bootstrap-icons/font/bootstrap-icons.css';

// Import JSON data destination
import homeDestinationIndex from "../../data/homepagejson/home-destinationindex.json";

const identity = {
  title: "Paket Kunjungan Museum",
  date: "2025-02-18",
  description: "Deskripsi singkat artikel ini",
  tags: ["tutorial", "web development", "astro"],
  permalink: "/id-ID/"
};

const {lang} = Astro.props;



// const data = await fetch("https://backenddirectus.madebybagus.xyz", {
//   headers: {
//     // token directus
//     Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjA5YTFiYmQ2LWUwMGQtNGFlNy1hNjM4LTkxMzI3Y2NiMTY1MCIsInJvbGUiOiIxN2VkN2U3Mi0zMmI1LTRlNzQtOThiNS04YTcyNGUwN2Q2ZTgiLCJhcHBfYWNjZXNzIjp0cnVlLCJhZG1pbl9hY2Nlc3MiOnRydWUsImlhdCI6MTczNzQyNTU4NiwiZXhwIjoxNzM3NDI2NDg2LCJpc3MiOiJkaXJlY3R1cyJ9.bC1WTIqVpXkz5Djwg6V1wlIXYf16yAcLoYzxvFqD3OI",
//     // Bypass IDP Cloudflare
//     "CF-Access-Client-Id": "afb26c8995066a72ef375fcffb9f1d47.access",
//     "CF-Access-Client-Secret":
//       "f7f4995a6d1cd59926c34ffda3a1b3014f4eb7cc79855af29b97ba9d53deaf97",
//   },
// }).then((res) => res.json());
---

            <!-- NOTE DESTINATION INDEX & PROMO KUNJUNGAN SECTION -->
        <div class="container-fluid py-5" style="background-color: #fef9ec;">
          <div class="container">
            <div class="row align-items-center mb-4">
              <div class="col-md-9">
                <div class="badge py-2 px-3 d-inline-block mb-3 gelar " style="color: #15803D; background-color: #F0FDF4;">Destinasi</div>
                <h2 class="title">{identity.title}</h2>
              </div>
              <div class="col-md-3 text-md-end text-center">
                <a href=`/${lang}/destination` class="btn btn-outline-dark border-0 icon-hover">Lihat semua Destinasi <img src="../img/icon/arrow-right.svg" class="ms-2 icon" alt="Arrow"></a>
              </div>
            </div>

            <div class="row g-4">
              <!-- Card 1 -->
              {homeDestinationIndex.map((item) => (
              <div class="col-lg-4 col-md-6">
                <div class="card h-100  border-0 " style="background: none;">
                  <img src={item.src} class="card-img-top rounded-0" alt={item.alt}>
                  <div class="card-body">
                    <h5 class="card-title">{item.title}</h5>
                    <p class="card-text">{item.text}</p>
                    <a href="#" class="btn btn-outline-warning informasi-detail">Informasi detail <img src="../img/icon/chevron-right-gold.svg" class="ms-2" alt="Chevron"></a>
                    <a href="#" class="btn btn-booking-color ms-2">Booking <img src="../img/icon/arrow-right-gold.svg" class="ms-2" alt="Arrow"></a>
                  </div>
                </div>
              </div>
              ))} 
            </div>
          </div>
        </div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
