---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/event_index.css";
// Import JSON data
import homeEventIndex from "../../data/homepagejson/home-eventindex.json";

const identity = {
  title: "Event_index",
  date: "2025-02-18",
  description: "Deskripsi singkat artikel ini",
  tags: ["tutorial", "web development", "astro"],
  permalink: "/id-ID/"
};

const {lang} = Astro.props;



// const data = await fetch("https://backenddirectus.madebybagus.xyz", {
//   headers: {
//     // token directus
//     Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjA5YTFiYmQ2LWUwMGQtNGFlNy1hNjM4LTkxMzI3Y2NiMTY1MCIsInJvbGUiOiIxN2VkN2U3Mi0zMmI1LTRlNzQtOThiNS04YTcyNGUwN2Q2ZTgiLCJhcHBfYWNjZXNzIjp0cnVlLCJhZG1pbl9hY2Nlc3MiOnRydWUsImlhdCI6MTczNzQyNTU4NiwiZXhwIjoxNzM3NDI2NDg2LCJpc3MiOiJkaXJlY3R1cyJ9.bC1WTIqVpXkz5Djwg6V1wlIXYf16yAcLoYzxvFqD3OI",
//     // Bypass IDP Cloudflare
//     "CF-Access-Client-Id": "afb26c8995066a72ef375fcffb9f1d47.access",
//     "CF-Access-Client-Secret":
//       "f7f4995a6d1cd59926c34ffda3a1b3014f4eb7cc79855af29b97ba9d53deaf97",
//   },
// }).then((res) => res.json());

---

    <!-- NOTE Exhibition and Event, EVENT INDEX -->
    <div class="container-fluid mt-4 event-index" style=" width: 88%;">
        <div class="row justify-content-center frame-41">
          <div class="col-12 text-start mb-4">
            <div class="badge exhibition-event">
              Exhibition and Event
          
            </div>
          </div>
          <div class="col-12 mb-4">
            <div class="d-flex justify-content-between align-items-center frame-23">
              <div class="d-flex align-items-center frame-39">
                <img class="group-6" src="../img/icon/Group 6 hijau.svg" />
                <div class="title ms-3 h2" style="font-family: TenorSans-Regular, sans-serif; color: #0e3121;">Kunjungi Acara dan Pameran</div>
              </div>
              <div class="link">
                <div class="d-flex align-items-center group-3-copy-2">
                  <a href=`/${lang}/event` class="btn btn-outline-dark border-0 icon-hover">Lihat Acara dan pameran
                  <img class="group ms-2 icon" src="../img/icon/arrow-right.svg" />
                </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row g-4">
              {homeEventIndex.map((item) => (
              <div class="col-md-4">
                <div class="card h-100 border-0">
                  <img class="card-img-top image rounded-0" src={item.src} alt={item.alt}/>
                  <div class="card-body d-flex flex-column">
                    <div class="headline-paragraph-and-badge mb-3">
                      <div class="headline-and-badge">
                        <div class="badge-group mb-2">
                          <div class="subtitle">{item.date}</div>
                        </div>
                        <div class="title2">
                          {item.text}
                        </div>
                      </div>
                    </div>
                    <div class="mt-auto">
                      <div class="button d-flex align-items-center justify-content-start">
                        <div class="text btn">Booking sekarang
                        <img class="chevron-right ms-2" src="../img/icon/chevron-right-gold.svg" />
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                ))}

            </div>
          </div>
        </div>
      </div>



<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
