---
import "bootstrap/dist/css/bootstrap.min.css";

// Import JSON data
import homeTestimonial from "../../data/homepagejson/home-testimonial.json";
---
<!-- *tidak ada file eksternal css* -->

<div class="container py-5">
  <!-- Heading Section -->
  <div class="mb-5">
    <div class="d-flex align-items-center mb-3">
      <img class="me-3" src="../img/icon/Group 6 hijau.svg" alt="Icon" width="50" height="46">
      <h2 class="text" style="font-family: 'TenorSans-Regular', sans-serif; color: #0e3121;">Ulasan Masyarakat</h2>
    </div>
    <p class="text-secondary" style="font-family: 'AnekBangla-Regular', sans-serif;">Pendapat masyarakat setelah mengunjungi Museum Keraton Yogyakarta.</p>
  </div>

  <!-- Cards Section -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-1">
    <!-- Card 1 -->
    {homeTestimonial.map((item) => (
    <div class="col">
      <div class="card h-100 border-1 shadow-sm">
        <div class="card-body">
          <div class="mb-3">
            <!-- Star Icons -->
            <div class="d-flex">
              <img src="../img/icon/Star icon.svg" alt="Star" width="16" height="16" class="me-1">
              <img src="../img/icon/Star icon.svg" alt="Star" width="16" height="16" class="me-1">
              <img src="../img/icon/Star icon.svg" alt="Star" width="16" height="16" class="me-1">
              <img src="../img/icon/Star icon.svg" alt="Star" width="16" height="16" class="me-1">
              <img src="../img/icon/Star icon.svg" alt="Star" width="16" height="16">
            </div>
          </div>
          <p class="card-text text-secondary" style="font-family: 'AnekBangla-Regular', sans-serif;">
            {item.text}
          </p>
          <div class="d-flex align-items-center">
            <img src={item.src} alt={item.alt} class="rounded-circle me-3" width="48" height="48">
            <div>
              <h6 class="mb-0">{item.name}</h6>
              <small class="text-secondary">{item.title}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
      ))}
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
