---
// Import JSON data
import destinationHero from "../../data/destinations/destination-hero.json";

import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/destination/destination-hero.css";
import Navbar from "../navbar.astro";
---
<!-- NOTE FAQ-->
<section class="hero-cards-section">
  <Navbar />
  <div class="container mt-4">
    <h1>Kagungan Dalem </br> Museum Kedhaton</h1>
    <div class="rectangle-9"></div>
    <div id="cardCarousel" class="carousel slide konten-slider" data-bs-ride="carousel">
      <div class="carousel-inner">
        {destinationHero.map((item, index) => (
        <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card bg-transparent">
                <img src={item.src} class="card-img-top" alt={item.alt}>
                <p class="card-text text-center"><strong>{item.text}</strong></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-transparent">
                <img src={item.src} class="card-img-top" alt={item.alt}>
                <p class="card-text text-center"><strong>{item.text}</strong></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-transparent">
                <img src={item.src} class="card-img-top" alt={item.alt}>
                <p class="card-text text-center"><strong>{item.text}</strong></p>
              </div>
            </div>
          </div>
        </div>
        ))} 
        {/* <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card bg-transparent">
                <img src="../img/ruangraja.png" class="card-img-top" alt="Event Activity">
                <p class="card-text text-center"><strong>Kegiatan Lain</strong></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-transparent">
                <img src="../img/pajangankuda.png" class="card-img-top" alt="Event Activity">
                <p class="card-text text-center"><strong>Kegiatan Lain</strong></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-transparent">
                <img src="../img/keretaraja.png" class="card-img-top" alt="Event Activity">
                <p class="card-text text-center"><strong>Kegiatan Lain</strong></p>
              </div>
            </div>
          </div>
        </div> */}
      </div>
      <!-- Carousel controls -->
      <button class="carousel-control-prev" style="left: 0px;" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="right: 0px;" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>