---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/destinationasliindex.css";
import 'bootstrap-icons/font/bootstrap-icons.css';
import Destinationkontenindex from "./destinationkontenindex.astro";

// Import JSON data destination
import homeDestinationIndex from "../../data/homepagejson/home-destinationindex.json";
import Destination from "../../pages/[lang]/destination.astro";

const identity = {
  title: "Paket Kunjungan Museum",
  date: "2025-02-18",
  description: "Deskripsi singkat artikel ini",
  tags: ["tutorial", "web development", "astro"],
  permalink: "/id-ID/"
};

export function getStaticPaths () {
  return [
  {params: {lang: 'id-ID'}},
  {params: {lang: 'en-US'}},
  ];
}
const {lang} = Astro.params;
const {destination} = Astro.props;


const allPosts = Object.values(import.meta.glob(`../../pages/${lang}/destination/*.astro`, { eager: true }));
// const allPosts = Object.entries(import.meta.glob(`../../pages/${lang}/destination/*.astro`, { eager: true }))
//   .map(([path, module]) => ({
//     url: path.replace('../../pages/', '/').replace('.astro', ''),
//   }));


// const data = await fetch("https://backenddirectus.madebybagus.xyz", {
//   headers: {
//     // token directus
//     Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjA5YTFiYmQ2LWUwMGQtNGFlNy1hNjM4LTkxMzI3Y2NiMTY1MCIsInJvbGUiOiIxN2VkN2U3Mi0zMmI1LTRlNzQtOThiNS04YTcyNGUwN2Q2ZTgiLCJhcHBfYWNjZXNzIjp0cnVlLCJhZG1pbl9hY2Nlc3MiOnRydWUsImlhdCI6MTczNzQyNTU4NiwiZXhwIjoxNzM3NDI2NDg2LCJpc3MiOiJkaXJlY3R1cyJ9.bC1WTIqVpXkz5Djwg6V1wlIXYf16yAcLoYzxvFqD3OI",
//     // Bypass IDP Cloudflare
//     "CF-Access-Client-Id": "afb26c8995066a72ef375fcffb9f1d47.access",
//     "CF-Access-Client-Secret":
//       "f7f4995a6d1cd59926c34ffda3a1b3014f4eb7cc79855af29b97ba9d53deaf97",
//   },
// }).then((res) => res.json());
---

            <!-- NOTE DESTINATION INDEX & PROMO KUNJUNGAN SECTION -->
        <!-- <div class="container-fluid py-5" style="background-color: white;">
          <div class="container">
            <div class="row g-4">
              {homeDestinationIndex.map((item) => (
              <div class="col-lg-4 col-md-6">
                <div class="card h-100  border-0 " style="background: none;">
                  <img src={item.src} class="card-img-top rounded-0" alt={item.alt}>
                  <div class="card-body">
                    <h5 class="card-title">{item.title}</h5>
                    <p class="card-text">{item.text}</p>
                    {allPosts.map((post:any) => 
                    <a href=`/{post.url}/{post.frontmatter.identity.title}` class="btn btn-outline-warning informasi-detail">Lihat detail <img src="../img/icon/chevron-right-gold.svg" class="ms-2" alt="Chevron"></a>
                    )}
                    <a href="#" class="btn btn-booking-color ms-2">Booking <img src="../img/icon/arrow-right-gold.svg" class="ms-2" alt="Arrow"></a>
                  </div>
                </div>
              </div>
              ))} 
            </div>
          </div>
        </div> -->

        {allPosts.map((post: any) => <Destinationkontenindex url={post.url} />)}


<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
